<!-- https://getbootstrap.com/docs/4.0/components/forms/ -->

<form [formGroup]="form">
  <div class="login-container">

    <div class="row-cols-1">
      <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp"
               [formControlName]="formNames.LOGIN" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Password"
                [formControlName]="formNames.PASSWORD">
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
    </div>

  </div>
</form>
